@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header{
    border-bottom: 1px solid #EBE8F4;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    
}
.header__logo--link {
    color: #22202E;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main-nav {
}
.main-nav__list {
    display: flex;
    gap: 45px;
    color: #726E8D;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main-nav__item {
}
.user-actions {
}
.user-actions__list {
    display: flex;
    gap: 16px;
}
.user-actions__item {
}
.user-actions__item--search {
    display: block;
    min-width: 16px;
    min-height: 16px;
    background-image: url("../img/search.svg");
}
.user-actions__item--basket {
    display: block;
    min-width: 16px;
    min-height: 16px;
background-image: url("../img/shopping--cart.svg");
}
.user-actions__item--login {
    display: block;
    min-width: 16px;
    min-height: 16px;
    background-image: url("../img/user--avatar.svg");
}
.hero {
    height: 223px;
    padding-top: 80px;
}
.hero__title {
    display: flex;
    justify-content: center;
    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 50.4px */
margin-bottom: 25px;
}
.filters {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.filters__form {

    display: flex;
    justify-content: space-between;
}
.filters__group {
    display: flex;
    gap: 12px;
    align-items: center;
}
.filters__label {
    padding: 0 25px;
}
.filters__select {
    border: none;
    color: #2A254B;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.filters__sorting {
    display: flex;
    gap: 16px;
    align-items: center;
}
.filters__select--date-added{
    padding: 0 25px;
}

.filters__label--sort-by{
    color: var(--Dark-Primary, #2A254B);
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}
.products {
    margin-bottom: 40px;
}
.products__grid {
    padding-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    column-gap: 20px;
}
.product-item {
}
.product-item__image {
    max-width: 305px;
max-height: 375px;
margin-bottom: 25px;
}
.product-item__title {
    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}
.product-item__price {
    color: var(--Dark-Primary, #2A254B);
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.products__view-collection {
    border: none;
    display: flex;
    align-items: center;
    padding: 16px 32px;
    margin: 0 auto;
    background-color: #F9F9F9;
    color: #2A254B;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.newsletter {
    display: flex;
    min-height: 520px;
}
.newsletter__image {
    background-image: url("../img/join-background.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: right;
width: 50%;
}
.newsletter__content {
    width: 50%;
    padding-left: 50px;
    padding-top: 70px;
}
.newsletter__title {
    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;
}
.newsletter__description {
    max-width: 470px;
    color: var(--Dark-Primary, #2A254B);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
margin-bottom: 215px;
}
.newsletter__signup{
    margin-left: 20px;
}
.newsletter__signup-button {
    border: none;
    padding: 16px 32px;
    color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
background-color: #2A254B;
}
.footer {
    background-color: #2A254B;
    padding-top: 60px;
}
.footer__nav {
    display: flex;
    margin-bottom: 60px;
}
.footer__content {
    display: flex;
    gap: 100px;
    width: 50%;
}
.footer__section {
}
.footer__section--menu {
}
.footer__title {
    margin-bottom: 12px;
    color: var(--White, #FFF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer__item {
    color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer__section--categories {
}
.footer__section--about-us {
    margin-left: 30px;
}
.footer__map {
    width: 50%;
}
.footer__map--img {
}
.footer__socials {
    padding:25px 0;
    border-top: 1px solid #4E4D93;
    display: flex;
    justify-content: space-between;
}
.footer__copyright {
    color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.social-links {
    display: flex;
    gap: 25px;
}
.social-links__item {
}
.social-links__item--linkedin {
}
.social-links__item--facebook {
}
.social-links__item--instagram {
}
.social-links__item--skype {
}
.social-links__item--twitter {
}
.social-links__item--pinterest {
}